.diamond_history_container {
  .diamond__history__cardLabel {
    &::before {
      content: "History";
      font-size: 18px;
      font-weight: 600;
      color: #8236ce;
      position: relative;
      top: -30px;
    }

    table {
      position: relative;
      top: -24px;

      @media (max-width: 430px) {
        top: -16px;
      }
    }
  }
}
