.container {
  padding: 24px 25px;
  background: transparent;

  > .title {
    // margin-bottom: 20px;
    font-family: "Nunito Sans", Roboto;
    font-style: normal;
    font-weight: 200;
  font-size: 16px;
    line-height: 20px;
    color: #6000c4;
    @media (max-width: 1300px) {
    }
  }

  .row {
    .title {
      // margin-bottom: 10px;
      font-family: "Nunito Sans", Roboto;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      color: #6000c4;
      @media (max-width: 1300px) {
      }
    }

    .value {
      font-family: "Nunito Sans", Roboto;
      color: #6000c4;
      font-style: normal;
      font-weight: 200;
  font-size: 16px;
      line-height: 8px;
      float: right;
      @media (max-width: 1300px) {
      }
    }
  }
}
