
.diamond__card__container {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  
  padding: 1rem 1.5rem;
}

.diamond__card__darkContainer{
  background-color: rgba(32,32,55,.52);
}

.diamond__card__label {
  position: relative;
  top: -96px;
  left: 1rem;
  padding: 0 8px;
  font-size: 18px;
  font-weight: 600;
  color: #8236ce;
}