.container {
  &__item {
    > div {
      &:first-child {
        padding-bottom: 10px;
        line-height: 1;
        > label {
          font-family: "Nunito Sans", Roboto;
          font-style: normal;
          font-weight: 200;
          font-size: 16px;
          line-height: 19px;
          color: #8736cb;
          @media (max-width: 1300px) {
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .subtitle {
    margin-bottom: 24px;
    font-family: "Nunito Sans", Roboto;
    font-weight: 200;
          font-size: 16px;
    line-height: 25px;
    color: #8736cb;
    @media (max-width: 1300px) {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .input {
    background-color: white;
    border-radius: 8px;
    height: 30px;
    color: black;
    max-width: 382px;
    @media (max-width: 1300px) {
      font-size: 14px;
    }

    &_number {
      max-width: 382px;
      width: 100%;
      @media (max-width: 1300px) {
        font-size: 14px;
      }
      > div {
        &:first-child {
          border-left-color: #3f3f61;
          background-color: transparent;
          > span {
            > span {
              color: black;
            }

            &:last-child {
              border-top-color: #3f3f61;
            }
          }
        }
      }

      input {
        padding-right: 34px;
        font-family: "Nunito Sans", Roboto;
        font-weight: 200;
          font-size: 16px;
        height: 28px;
        color: black;
        @media (max-width: 1300px) {
          font-size: 14px;
        }
      }
    }

    &:not([disabled]) {
    }
  }

  .submit {
    background: linear-gradient(180deg, #8736cb 0%, #6000c4 100%);
    border-radius: 8px;
    font-family: "Nunito Sans", Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    border: 0 none;
    padding: 6px 13px;
    width: 125px;
    height: 34px;
    color: white;
    margin-right: 10px;

    @media (max-width: 1300px) {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.6;
    }
    span {
      transition: opacity 0.3s;
    }

    &:disabled {
      background-image: none;
      background-color: #353648;
      color: black;
      &:hover {
        background-color: #353648;
        border-color: #3f3f61;
        color: black;
      }
    }

    &:hover {
      span {
        opacity: 0.8;
      }
    }
  }
}
