.container {
  position: relative;
  font-size: 16px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width: 1300px) {
    margin-top: 25%;
  }

  @media (max-width: 1024px) {
    margin-top: 25%;
    margin-left: 0%;
    margin-right: 0%;
  }

  &_loading {
    > * {
      &:not(:last-child) {
        opacity: 0.4;
      }
    }
  }

  .title {
    margin-bottom: 22px;
    font-family: "Nunito Sans", Roboto;
    font-weight: 600;
    line-height: 28px;
    font-size: 30px;
    word-spacing: 1.7px;
    margin-right: 25px;
    display: inline;

    span {
      font-size: 30px;
      line-height: 41px;
      color: #8736cb;
      @media (max-width: 1300px) {
        font-family: 50px;
        display: grid;
        text-align: center;
        background-color: transparent !important;
      }
    }
  }

  &__info {
    width: 350px;
    height: 42px;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 22px;
    display: inline-block;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
    border-radius: 8px;
    border-color: white;
    @media (max-width: 1300px) {
      height: 32px;
      display: contents;
    }
    div {
      color: #9b9b9b !important;
    }
  }

  &__filter {
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;
    float: right;
    // text-transform: uppercase;
    font-weight: 200;
    line-height: 25px;
    @media (max-width: 1300px) {
      width: 100%;
    }

    &__text {
      padding: 7px;

      &:not(:last-child) {
        border-radius: 8px;
        font-family: "Nunito Sans";
        line-height: 19px;
        color: #6000c4;
        // text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;
        border: 1px solid #e2e2e2;
        box-sizing: border-box;
        border-radius: 8px 0px 0px 8px;
        @media (max-width: 1300px) {
          font-size: 9px;
          padding: 9px;
        }
      }
    }

    .select {
      background-color: transparent;

      &:not(.ant-select-customize-input) {
        > div {
          background-color: transparent;
          font-weight: 200;
          font-size: 12px;
          line-height: 25px;
          transition: opacity 0.3s;
          border: 2px solid;
          padding-right: 10px;
          padding-left: 10px;
          font-family: "Nunito Sans", Roboto;
          line-height: 16px;
          border: 1px solid #e2e2e2;
          box-sizing: border-box;
          border-radius: 0px 8px 8px 0px;
          color: #6000c4;
          @media (max-width: 1300px) {
            font-size: 9px;
          }
          &:hover {
            opacity: 0.8;
          }
        }

        > span {
          font-size: 10px;
          color: #6000c4;
          top: 39%;
        }

        &:focus,
        &:hover {
          > div {
            opacity: 0.8;
            border-color: #f1f1f1;
          }

          > span {
            color: #6000c4;
            opacity: 0.8;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 46px;
      }
    }
  }

  @media (max-width: 1200px) {
    .select {
      margin-right: 0px;
      width: 100%;
    }
  }

  @media (max-width: 1440px) {
    .select {
      &:not(:last-child) {
        margin-right: 0px;
      }
    }
  }

  &__balance {
    margin-bottom: 30px;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 50px;

    &__item {
      border: 0 none;
      flex-grow: 1;
      float: right;
      background: white;
      box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.13);
      border-radius: 8px;
      color: #6000c4;

      &__value {
        font-family: "Nunito Sans", Roboto;
        font-weight: 200;
        line-height: 8px;
        font-size: 34px;
        color: #6000c4;
        font-size: 16px;
        line-height: 8px;
        display: flex;
        align-items: center;
        border-radius: 8px;
      }

      > div {
        padding-right: 25px;
        padding-left: 25px;
        &:first-child {
          background: white;
          box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.13);
          border-radius: 8px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-color: #e2e2e2;
          margin-bottom: 0;
          font-family: "Nunito Sans", Roboto;
          font-weight: 200;
          line-height: 8px;
          font-size: 16px;
          color: #6000c4;
          border-bottom: 1px solid border #090d1c;

          > div {
            > div {
              padding-bottom: 24px;
              padding-top: 24px;
              font-weight: 200;
            }
          }
        }
      }

      &:first-child {
        margin-right: 15px;
        @media (max-width: 1300px) {
          margin-right: 5px;
        }
      }

      &:last-child {
        margin-left: 15px;
        @media (max-width: 1300px) {
          margin-left: 5px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    div {
      &:first-child {
        font-size: 16px;
        font-weight: 200;
      }
    }
  }

  &__prompt {
    margin-bottom: 30px;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__warning {
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 8px;
    color: white;
    left: 0;
    border: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 50px;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    background-color: transparent;
    padding: 0;
    div {
      font-weight: 600;
      margin-left: 0;
      height: 32px;
      font-family: "Nunito Sans", Roboto;
      color: #8236ce;
      font-size: 24px !important;
      line-height: 33px;
      display: flex;
      align-items: center;
      background: transparent;
      border-radius: 8px;
      left: 0;
      border: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__loading {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &__icon {
      margin-left: -15px;
      margin-top: -15px;
      font-size: 30px;
      position: absolute;
      color: #e6e6e6;
      left: 50%;
      top: 50%;
    }
  }
}

.select {
  &__dropdown {
    border: 1px solid white;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &__option {
      background-color: transparent;
      color: #6000c4;
      &:not(.ant-select-item-option-disabled) {
        background-color: transparent;
        color: #6000c4;
      }

      &_selected {
        &:not(.ant-select-item-option-disabled) {
        }
      }
    }
  }
}

#root
  > section
  > main
  > article
  > div.ant-row.ant-row-end.ant-row-middle.Dashboard_container__filter__3aztB
  > div.ant-select.Dashboard_select__2GD2U.ant-select-single.ant-select-show-arrow.ant-select-open
  > span
  > span
  > svg {
  color: black;
}

.dark
  #root
  > section
  > main
  > article
  > div.ant-row.ant-row-end.ant-row-middle.Dashboard_container__filter__3aztB
  > div.ant-select.Dashboard_select__2GD2U.ant-select-single.ant-select-show-arrow.ant-select-open
  > span
  > span {
  border: 1px solid white;
}

#root
  > section
  > main
  > article
  > div.ant-row.ant-row-end.ant-row-middle.Dashboard_container__filter__3aztB
  > div:nth-child(2)
  > span
  > span
  > svg {
  border: 1px solid white;
}
