.container {
  border: 0 none;
  background: white;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  margin-bottom: 200px;
  border: 1px solid #e2e2e2;
  margin-top: 50px;

  > div {
    padding-right: 25px;
    padding-left: 25px;
    &:first-child {
      border-bottom-color: #e2e2e2;
      margin-bottom: 0;
      font-family: "Nunito Sans", Roboto;
      font-weight: 200;
      line-height: 19px;
      font-size: 16px;
      color: #6000c4;

      border-bottom: 1px solid #e2e2e2;

      > div {
        > div {
        }
      }
    }
  }

  .description {
    margin-bottom: 0;
    font-family: "Nunito Sans", Roboto;
    font-weight: 200;
    line-height: 16px;
    font-size: 16px;
    color: #6000c4;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
