.button {
  height: 34px;
  transition: opacity 0.3s;
  border-radius: 8px;
  background-color: #8236ce;
  padding-right: 9px;
  padding-left: 9px;
  border: 2px solid #8236ce;
  font-family: "Nunito Sans", Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: 10px;
  color: white;
  &:active {
    border-color: black;
  }
  &:hover {
    opacity: 0.6;
    background-color: #8236ce;
    border-color: black !important;
    color: white;
  }
  @media (max-width:1300px) {
    width: 90vw;
  }
  &:disabled {
    opacity: 0.8;

    &:hover {
      opacity: 0.6;
    }
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.6;
  }
}

.modal {
  &__form {
    color: white;
    height: 200px;

    &__item {
      @media (max-width:1300px) {
        font-size: 12px;
      }
      .input {
        background-color: white;
        border-radius: 8px;
        border-color: #3f3f61;
        height: 30px;
        color: white;
        &:hover {
          opacity: 0.8;
        }
      }

      label {
        font-family: "Nunito Sans", Roboto;

        color: white;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 19px;
      }
    }

    .submit {
      margin-left: 200px;
      width: 177px;
      height: 32px;
      border-radius: 8px;
      font-family: "Nunito Sans", Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 15px;
      line-height: 25px;
      height: 34px;
      color: black;
      border-color: #8236ce;
      background-color: #8236ce;
      @media (max-width:1300px) {
        margin-left: 20%;
      }
      &:hover {
        opacity: 0.8;
      }
      span {
        transition: opacity 0.3s;
      }

      &:hover {
        &:disabled {
          opacity: 0.8;

          color: black;
        }

        span {
          opacity: 0.8;
          height: 200px;
        }
      }
    }
  }

  > div {
    &:not(:first-child) {
      &:not(:last-child) {
        background-color: #1F1F34;
        border-radius: 8px;
        height: 400px;
        max-width: 620px;
        @media (max-width:1300px) {
          height: 450px;
        }
        > button {
          transition: opacity 0.3s;

          color: white;

          &:hover {
            opacity: 0.8;
          }
        }

        > div {
          &:first-of-type {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-bottom-color: transparent;
            background-color: #242424;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;

            > div {
              margin-top: 20px;
              font-style: normal;
              font-weight: 200;
              font-size: 20px;
              line-height: 19px;
              text-align: center;
              font-family: "Nunito Sans", Roboto;
              color: white;
              @media (max-width:1300px) {
                margin-left: 20%;
              }
            }
          }
        }
      }
    }
  }
}
