.list {
  // flex-direction: column;

  &__body {
    filter: blur(10px) !important;
    -webkit-filter: blur(10px) !important;
  }
  &__button {
    background: linear-gradient(180deg, #8736cb 0%, #6000c4 100%);
    border-radius: 8px;
    font-family: "Nunito Sans", Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
    width: 200px;
    height: 34px;
    border-color: transparent;
    color: white;
    margin-top: 0px !important;
    margin-right: 25px;
    border-color: black;
    &:hover {
      opacity: 0.6;
      border-color: transparent;
      background: linear-gradient(180deg, #8736cb 0%, #6000c4 100%);
    }

    @media (max-width: 1300px) {
      font-size: 14px;
      width: 300px;
      height: 54px;
      margin-bottom: 20px !important;
    }
    &:not(:last-child) {
      // margin-bottom: 25px;
    }

    &:disabled {
      background-color: grey;
      border-color: #3f3f61;
      color: white;
      &:hover {
        opacity: 0.6;
        background-color: grey;
      }
    }

    &:focus,
    &:hover {
      opacity: 0.6;
    }
    > img {
      margin-top: -2px;
      &:hover {
        opacity: 0.6;
      }
    }

    &_connected {
      &:hover {
        opacity: 0.6;
      }
      > span {
        &:hover {
          opacity: 0.6;
        }
        &:last-child {
          &:hover {
            opacity: 0.6;
          }
          &::after {
            content: "";
            border-radius: 8px;
            margin-left: 6px;
            display: inline-block;
            height: 10px;
            width: 10px;
            color: white;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
