.container {
  position: relative;
  margin-top: 15%;
  @media (max-width: 1300px) {
    margin-top: 25%;
  }
  &_loading {
    > * {
      &:not(:last-child) {
        opacity: 0.4;
      }
    }
  }

  .title {
    margin-bottom: 22px;
    font-family: "Nunito Sans", Roboto;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    display: inline;

    .titlecs {
      background-color: #8736cb;
    }

    span {
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-color: #8736cb;
      background-clip: text;
      margin-right: 25px;
    }
  }

  &__info {
    width: 350px;
    height: 42px;
    font-weight: 200;
    font-size: 15px;
    line-height: 25px;
    display: inline-block;
    align-items: center;
    text-align: center;
    background: #f1f1f1;
    border-radius: 8px;
    border-color: white;
    margin-bottom: 22px;
    @media (max-width: 1110px) {
      display: contents;
      font-size: 9px !important;
    }
    div {
      color: #9b9b9b !important;
      @media (max-width: 1110px) {
        font-size: 9px !important;
      }
    }
  }

  &__form {
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 25px;
    align-items: stretch;
    padding: 24px 25px;
    border: 1px solid #e2e2e2;

    &__header {
      padding-right: 30px;
      border-right: 2px solid #8736cb;
      width: 50%;
      @media (max-width: 1240px) {
        text-align: justify;

        width: 75vw;
        border-bottom: 4px solid #8736cb;
        border-right: none;
        margin-bottom: 10px;
      }
    }

    &__fields {
      padding-left: 30px;
      width: 50%;
      @media (max-width: 1240px) {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  @media (max-width: 1440px) {
    &__form {
      display: flex;
    }
  }

  &__warning {
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    left: 0;
    border: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    background-color: transparent;
    padding: 0;
    div {
      font-weight: bold;
      margin-left: 0;
      height: 32px;
      font-family: "Nunito Sans", Roboto;
      color: #8736cb;
      font-size: 24px !important;
      line-height: 33px;
      display: flex;
      align-items: center;
      background: transparent;
      border-radius: 8px;
      left: 0;
      border: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__loading {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &__icon {
      margin-left: -15px;
      margin-top: -15px;
      font-size: 30px;
      position: absolute;
      color: #e6e6e6;
      left: 50%;
      top: 50%;
    }
  }
}
