.container {
  line-height: 1;
  font-family: "Nunito Sans", Roboto;
  font-size: 14px;
  font-weight: 200;
  line-height: 19px;
  width: 60%;
   &:hover {
   }

  @media (max-width: 1300px) {
    width: max-content;
    margin-bottom: 20px;
  }

  img {
    margin-right: 28px;
    height: 68px;
    width: 68px;
    margin-top: 10px;
  }

  &__icon {
    margin-right: 28px;
    height: 48px;
    width: 48px;
    margin-top: 0;
  }

  &__name {
    padding-right: 24px;
    width: 45%;
    display: inline-flex;
    font-weight: 200;

  }

  &__address {
    width: 20%;
    margin-top: 15px;
    font-weight: 200;

  }

  .title {
    font-weight: 800;
    color: #8236ce;
    font-weight: 200;

  }

  .value {
    font-weight: 400;
    color: #8236ce;
    font-size: 14px;
    font-weight: 200;

  }

  .span {
    color: #8236ce;
    font-weight: 200;

  }
}
